[advice]
	statusHints = false

[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	fork = !git-fork
	up = "!git remote update -p; git merge --ff-only @{u}"

[core]
	excludesfile = ~/.gitignore_global

[credential]
	helper = osxkeychain

[credential "https://github.com"]
	username = benwebber

[credential "https://bitbucket.com"]
	username = benwebber

[grep]
	lineNumber = true
	extendedRegexp = true

[push]
	default = simple

[user]
	name = Ben Webber
	email = benjamin.webber@gmail.com

[include]
	path = ~/.gitconfig_local
